/* MEDIA QUERIES */

:root {
  --padding-container: 5rem 0;

  --primary-color: rgb(70, 130, 180);
  --dot-color: rgb(128, 0, 128);
  --white: rgb(255, 255, 255);
  --btn-cards: rgb(99, 122, 141);
}

@media screen and (max-width: 1095px) {

  /* HERO CONTAINER */
  .hero__section {
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr auto;
    column-gap: 2rem;
  }

  .hero__texts {
    grid-column: span 6;
  }

  .hero__picture {
    grid-column: span 4;
    width: 100%;
  }

  .hero__scroll {
    grid-column: span 10;
  }

  /* HABILITIES */
  .habilities__item {
    margin-left: 15%;
  }
}

@media screen and (max-width: 969px) {
  /* PROJECTS */
  .projects__categorie {
    grid-column: span 1;
  }
}

@media screen and (max-width: 930px) {
  .hero__title h1 {
    font-size: 2.2rem;
  }

  .hero__title p {
    font-size: 2.2rem;
  }

  .hero__texts h3 {
    font-size: 1.5rem;
  }

  /* ABOUT */
  .about__info {
    gap: 3rem;
  }

  .about__picture {
    width: 250px;
    height: 250px;
  }

  /* HABILITIES */

  .habilities__item {
    margin-left: 10%;
  }
}

@media screen and (max-width: 830px) {

  .open-menu,
  .close-menu {
    display: block;
  }

  .close-menu {
    align-self: flex-end;
    margin-bottom: 2rem;
  }

  .hero__menu {
    position: fixed;
    flex-direction: column;
    top: 0;
    right: 0;
    width: 280px;
    height: 100%;
    background-color: rgb(26, 55, 77);
    padding: 2rem;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 0.3s ease;
  }

  .hero__menu.show {
    transform: translateX(0);
  }

  .hero__menu li {
    margin-left: 0;
    margin-bottom: 2rem;
    font-size: 1.2rem;
  }

  .hero__link {
    color: rgb(255, 255, 255);
  }

  /* HERO CONTAINER */
  .hero__section {
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr auto;
    gap: 0;
  }

  .hero__title {
    gap: 0.5rem;
  }

  .hero__title h1 {
    font-size: 2rem;
  }

  .hero__title p {
    font-size: 2rem;
  }

  .hero__title p::after {
    height: 14px;
  }

  .hero__texts h3 {
    font-size: 1.4rem;
  }

  .hero__picture {
    grid-column: span 4;
    width: 90%;
  }

  .hero__github {
    margin-top: 1.8rem;
  }

  /* ABOUT */
  .about__info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    align-items: center;
  }

  .about__picture {
    justify-self: center;
  }

  /* HABILITIES */

  .habilities__container {
    column-gap: 3rem;
  }

  .habilities__info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 1rem;
  }

  .habilities__languages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 2rem;
  }

  .habilities__languages__title {
    text-align: center;
  }

  .habilities__languages>.habilities__item {
    margin-left: 0;
  }

  .habilities__languages {
    justify-items: center;
  }

  .habilities__info>.habilities__item {
    margin-left: 10%;
  }

  .habilities__info__title {
    text-align: center;
    grid-column: span 1;
  }
}

@media screen and (max-width: 747px) {

  .hero {
    min-height: 880px;
  }

  .background {
    min-height: 880px;
  }

  .background__container {
    min-height: 880px;
  }

  /* HERO CONTAINER */
  .hero__section {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "picture"
      "texts"
      "scroll";
    gap: 2rem;
    --padding-container: 3rem 0 0;
  }

  .hero__title {
    justify-content: center;
  }

  .hero__texts {
    grid-column: span 1;
    grid-area: texts;
    text-align: center;
  }

  .hero__copy {
    width: 80%;
    margin: 2rem auto 0;
  }

  .hero__github {
    justify-self: center;
    margin-top: 2rem;
  }

  .hero__picture {
    grid-area: picture;
    grid-column: span 1;
    width: 100%;
    max-width: 350px;
    justify-self: center;
  }

  .hero__scroll {
    grid-area: scroll;
    grid-column: span 1;
  }

  .hero__chevrons {
    margin-top: 1rem;
  }
}

@media (max-width: 650px) {
  .contact__form {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
  }

  .contact__subtitle {
    grid-column: span 1;
  }

  .form__group--message {
    grid-column: span 1;
    /* width: ; */
  }

  .form__cta {
    grid-column: span 1;
  }
}

@media screen and (max-width: 630px) {

  /* HABILITIES */
  .habilities__container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr;
    gap: 3rem;
  }

  .habilities__subtitle {
    grid-column: span 1;
    margin-bottom: 1rem;
  }

  .habilities__info>.habilities__item {
    margin-left: 25%;
  }

  .habilities__languages {
    width: 350px;
    justify-self: center;
  }
}

@media screen and (max-width: 530px) {

  /* HERO CONTAINER */
  .hero__copy {
    width: 100%;
    margin: 1rem auto 0;
  }

  .hero__title h1 {
    font-size: 1.8rem;
  }

  .hero__title p {
    font-size: 1.8rem;
  }

  .hero__texts h3 {
    font-size: 1.4rem;
  }

  /* HABILITIES */
  .habilities__info>.habilities__item {
    margin-left: 20%;
  }

  /* PROJECTS CARD */
  .projects__texts {
    padding: 1rem;
  }
}

@media screen and (max-width: 450px) {

  /* HERO CONTAINER */
  .hero__title h1 {
    font-size: 1.6rem;
  }

  .hero__title {
    gap: 0.3rem;
  }

  .hero__title p::after {
    height: 12px;
  }

  .hero__title p {
    font-size: 1.6rem;
  }

  .hero__texts h3 {
    font-size: 1.4rem;
  }

  /* ABOUT */

  .about__picture {
    width: 220px;
    height: 220px;
  }

  /* HABILITIES */
  .habilities__container {
    width: 90%;
  }

  .habilities__title {
    text-wrap: wrap;
  }

  .habilities__info>.habilities__item {
    margin-left: 12%;
  }

  .habilities__languages {
    gap: 0rem;
    column-gap: 0;
    width: 100%;
  }

  .habilities__languages .habilities__icon {
    width: 48px;
  }

  /* PROJECTS */
  .projects__card {
    width: 350px;
    margin: 0 auto;
  }

  .carousel__previous,
  .carousel__next {
    top: calc(50% - 25px);
  }

  .projects__title {
    margin-top: 1rem;
  }
  .projects__categorie {
    grid-column: span 1;
    width: 200px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 370px) {

  .hero {
    min-height: 950px;
  }

  .background {
    min-height: 950px;
  }

  .background__container {
    min-height: 950px;
  }

  /* HERO CONTAINER */
  .hero__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
  }

  .hero__title h1 {
    font-size: 2.2rem;
  }

  .hero__title p {
    font-size: 2.2rem;
  }

  .hero__title p::after {
    height: 16px;
  }

  /* HABILITIES */
  .habilities__container {
    width: 100%;
  }

  .habilities__info>.habilities__item {
    margin-left: 0;
    padding-left: 15%;
    /* background-color: rebeccapurple; */
    width: 310px;
  }

  /* PROJECTS */
  .projects__card {
    width: 295px;
    margin: 0 auto;
  }
  .projects__buttons {
    margin: 1rem;
  }
  .projects__link {
    font-size: 14px;
  }
}